/*	
	Christian Reyes
	Emmanuel Agbanyo

	Future Front End Engineers
	http://www.icarnegie.com/News/news.php
*/
body {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif;
	font-size: .8em;
	border: 1px solid gray;
}

a {
	text-decoration: none;
}

#header{
	clear: both;
	background-color: #DDD;
	border: 1px solid gray;
}

#wrapper{	
	min-width: 800px;
	max-width: 1200px;
	margin: 0 auto;
}

#menu{
	width: 200px;
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid gray;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	line-height: 20px;
	border: 1px solid #ccc;
	background-color: white;
	overflow: hidden;
	font-weight: bold;
}

#menu a.current_page{
	background-color: #A33B23;
	color: white;
	display: inline-block;
}

#menu li:hover{
	background-color: #efefef;
	font-weight: bold;
	padding-right: 5px;
	margin-right: 5px;
}

#content{
	background-color: #EEE;
	padding-left: 220px;
	padding-top: 20px;
	border: 1px solid gray;
}

#content-picture {
	padding: 0;
	height: 400px;
	width: 600px;
	margin: 0 auto;
	background: black url('images/development-picture.png') no-repeat top left;
}

#content-sidebar{
	border-left: 1px solid gray;
}

#content ul{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

#content li{
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: white;
	padding-left: 5px;
}

#content li a{
	color: black;
	text-decoration: none;
}

#content li span{
	font-weight: bold;
	padding-right: 5px;
	margin-right: 5px;
	border-right: 1px solid #ddd;
}

#content li a:hover{
	text-decoration: underline;
}

#content li:hover{
	background-color: #efefef;
}

