/*	
	Christian Reyes
	Emmanuel Agbanyo

	Future Front End Engineers
	http://www.icarnegie.com/News/news.php
*/
body {
	color: white;
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif;
	font-size: .8em;
}

a {
	text-decoration: none;
}

#header{
	clear: both;
	background-color: #DDD;
}

#wrapper{
	margin: 0 auto;
	width: 800px;
}

#menu{
	width: 200px;
	float: left;
	background-color: #DEF;
	height: 100%;
	margin: 0;
	padding: 0;
}

#menu a {
	
}

#menu a.current_page{

}

#content{
	background-color: #EEE;
	width: 600px;
	float: right;
}

#content-picture {
	padding: 0;
	height: 400px;
	width: 600px;
	background: black url('images/development-picture.png') no-repeat top left;
}

#content ul{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

#content li{
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: white;
	padding-left: 10px;
}

#content li a{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

#content li:hover{
	background-color: #efefef;
}

