/*	
	Christian Reyes
	Emmanuel Agbanyo

	Future Front End Engineers
	http://www.icarnegie.com/News/news.php
*/

body {
	background: #FFF url('images/body-gradient-red.png') repeat-x top left;
	background-color: #460000;
	color: black;
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif;
	font-size: .8em;
}

#wrapper{	
	min-width: 800px;
	max-width: 1200px;
	margin: 0 auto;
}

#header{
	height: 67px;
	position: relative;
}

a#logo h1{
	text-indent: -1000em;
	background: transparent url('images/iclogowhitebold.png') no-repeat 5px 11px;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 67px;
	display: inline-block;
}

a#logo{
	text-decoration: none;
}

a#logo h1:hover{
	background: transparent url('images/iclogoredbold.png') no-repeat 5px 11px;
}

a#powered_by span{
	text-indent: -1000em;
	background: transparent url('images/cmu_top.png') no-repeat 5px 11px;
	margin: 0;
	padding: 0;
	width: 215px;
	height: 67px;
	display: inline-block;
}

a#powered_by{
	text-decoration: none;
	float: right;
}

a#login{
	background: transparent url('images/icon-screen.gif') no-repeat top left;
}

a#contact{
	background: transparent url('images/icon-phone.png') no-repeat top left;
	height: 22px;
	display: inline-block;
	line-height: 17px;
	margin-top: 43px;
}

.top_links {
	float: right;
	text-decoration: none;
	color: white;
	text-indent: 25px;
	margin-top: 45px;
	margin-right: 14px;
	font-size: .9em;
	font-weight: 700;
}

#menu 
{
	background: black url('images/menu-gradient-red.png') repeat-x;
    text-align: center;
	height: 60px;
	margin: 0 0 20px 0;
	padding: 0;
	box-shadow: 2px 2px 2px #111;
	-webkit-box-shadow: 2px 2px 2px #111;
	-moz-box-shadow: 2px 2px 2px #111;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	color: white;
	width: 107px;
	height: 60px;
	line-height: 60px;
	font-family: Arial, Verdana, sans-serif;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid gray;
	font-weight: bold;
}

#menu a.current_page{
	background: black url('images/menu-gradient-red-selected.png') repeat-x;
	color: white;
}

#menu a:hover{
	color: white;
	background: black url('images/menu-gradient-red-hover.png') repeat-x;
	text-decoration: none;
	-moz-border-radius: 3px;
    border-radius: 3px;
}

form#search{
	position:  relative;
	float: right;
	width: 255px;
	height: 60px;
	background-color: transparent;
	background-image: url('images/search-tab.png');
}

form#search input{
	position: absolute;
	top: 28px;
	left: 19px;
	width: 184px;
}

form#search button{
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	top: 32px;
	left: 215px;
	width: 24px;
	height: 18px;
	background: transparent url('images/go.bmp') no-repeat center top;
	text-indent: -1000em;
	cursor: pointer; /* hand-shaped cursor */
	cursor: hand; /* for IE 5.x */
}

#content{
	border: 1px solid white;
	padding: 1px;
	background-color: white;
	margin-top: 40px;
	
	font-size: 10px;
	font-weight: 400;
	font-style: normal;
	color: black;
	
	line-height:20px;
	text-align:justify;
	box-shadow: 5px 5px 5px #111;
	-webkit-box-shadow: 5px 5px 5px #111;
	-moz-box-shadow: 5px 5px 5px #111;
}

ul#article-pictures {
	margin: 0;
	padding: 0;
	list-style: none;
}

#content img{
	/*position: absolute;
	top: 0;
	right: 0;
	padding: 0;*/
	padding: 10px;
	float: left;
	height: 400px;
	width: 600px;
	/*background: black url('images/development-picture.png') no-repeat top left; */
}

#content-sidebar {
	/*position: absolute;
	top: 0;
	right: 0;width: 20%;*/
	padding-left: 10px;
	padding-right: 10px;
	
	/*
	border-top:1px solid black;
	border-right: 1px solid black;
	border-bottom:1px solid black;*/
}

#content-sidebar ul{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

#content-sidebar li{
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	border: 1px solid #ddd;
	background-color: white;
	padding-left: 5px;
}

#content-sidebar li a{
	color: #666;
	text-decoration: none;
}

#content-sidebar li.selected{
	background-color: #bbb;
}

#content-sidebar li span:first-child{
	font-weight: bold;
	color: black;
	padding-right: 5px;
	margin-right: 5px;
	border-right: 1px solid #ddd;
}

#content-sidebar li a:hover{
	text-decoration: underline;
}

#content-sidebar li:hover{
	background-color: #efefef;
}

ul#article {
	clear: both;
	padding: 0 15px;
	list-style: none;
}

ul#article h2{
	font-size: 2em;
	font-weight: 600;
	text-align: center;
	line-height: 2em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/*
a#full-story{ 
	width: 100%;
	display: inline-block;
	text-align: right;
}*/

#footer {
	margin-top: 30px;
	background-color: #b82633;
	height: 5px;
}
	
.round-edge {
	-moz-border-radius: 3px;
    border-radius: 3px;
}

.p1 {
	display: none;
}