/*	
	Christian Reyes
	Emmanuel Agbanyo

	Front End Engineers
	http://www.icarnegie.com/News/news.php
*/

body {
	background-color: #151515;
	color: white;
	margin: 0;
	padding: 0;
}

h1#logo{
	text-indent: -1000em;
	margin: 0;
	padding: 0;
}

#content a{
	color: #8887c9;
}

#wrapper {
	width: 950px;
	margin: 0 auto;
}

#menu 
{
	background: black url('images/menu-gradient.png') repeat-x;
    text-align: center;
	height: 60px;
	margin: 0 0 0 20px;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	color: white;
	width: 112px;
	height: 60px;
	font-size: .8em;
	line-height: 60px;
	font-family: Ariel, Verdana, sans-serif;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid gray;
}

#menu a:hover, #menu .current_page_item a {
	color: white;
	background-color: #be0022;
	text-decoration: none;
}

#content {
	
}