.top_menu {
	TEXT-ALIGN: center; WIDTH: 120px; BORDER-RIGHT: #777777 1px solid
}
.header_menu_separator {
	BACKGROUND-COLOR: #cccccc; WIDTH: 1px
}
.header_menu_cell {
	TEXT-ALIGN: right; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; FONT-SIZE: 11pt; VERTICAL-ALIGN: middle
}
.footer_menu_cell {
	TEXT-ALIGN: right; PADDING-RIGHT: 5px; FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; HEIGHT: 30px; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle
}
.footer_menu {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; HEIGHT: 30px; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle; PADDING-TOP: 3px
}
.footer_menu_link {
	FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #cccccc; FONT-SIZE: 10pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.menubar {
	TEXT-ALIGN: center; WIDTH: 100%; HEIGHT: 60px
}
.menubar .header_menu {
	BACKGROUND-IMAGE: url(./resources/menuGray.jpeg); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; BACKGROUND-POSITION: left top; HEIGHT: 60px; FONT-SIZE: 12pt; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.menubar .header_menu .header_menu_link {
	FONT-FAMILY: Arial Narrow, Arial, verdana,  Helvetica Neue, Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.menubar .header_menu .header_menu_link:hover {
	FONT-FAMILY: Arial, verdana,  Helvetica Neue, Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.menubar .submenu_block {
	WIDTH: 200px; DISPLAY: none
}
.menubar .submenu_block .submenu {
	BACKGROUND-COLOR: #252525
}
.menubar .submenu_block .submenu .submenu_link {
	FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #cccccc; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.menubar_over {
	TEXT-ALIGN: left; WIDTH: 100%; HEIGHT: 60px
}
.menubar_over .header_menu {
	BACKGROUND-IMAGE: url(./resources/menuPink.jpeg); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; BACKGROUND-POSITION: left top; HEIGHT: 60px; FONT-SIZE: 12pt; VERTICAL-ALIGN: middle; CURSOR: hand
}
.menubar_over .header_menu .header_menu_link {
	FONT-FAMILY: Arial Narrow, Arial, verdana,  Helvetica Neue, Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.menubar_over .header_menu .header_menu_link:hover {
	FONT-FAMILY: Arial Narrow, Arial, verdana,  Helvetica Neue, Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.menubar_over .submenu_block {
	POSITION: absolute; TEXT-ALIGN: right; WIDTH: auto; DISPLAY: block; LEFT: 0px
}
.menubar_over .submenu_block .submenu {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #343023; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.menubar_over .submenu_block .submenu .submenu_link {
	FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #cccccc; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.menubar_over .submenu_block .submenu_over {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #343023; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.menubar_over .submenu_block .submenu_over .submenu_link {
	FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #bb0022; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.header_menu_active {
	TEXT-ALIGN: left; WIDTH: 100%; HEIGHT: 60px
}
.header_menu_active .header_menu {
	BACKGROUND-IMAGE: url(./resources/menuRed.jpeg); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; BACKGROUND-POSITION: left top; HEIGHT: 60px; FONT-SIZE: 12pt; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.header_menu_active .header_menu .header_menu_link {
	FONT-FAMILY: Arial Narrow, Arial, verdana,  Helvetica Neue, Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.header_menu_active .header_menu .header_menu_link:hover {
	FONT-FAMILY: Arial Narrow, Arial, verdana,  Helvetica Neue, Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.header_menu_active .submenu_block {
	DISPLAY: none
}
.header_menu_active .submenu_block .submenu {
	BACKGROUND-COLOR: #252525; WIDTH: 200px
}
.header_menu_active .submenu_block .submenu .submenu_link {
	FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #cccccc; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.header_menu_active_over {
	TEXT-ALIGN: left; WIDTH: 100%; HEIGHT: 60px
}
.header_menu_active_over .header_menu {
	BACKGROUND-IMAGE: url(./resources/menuRed.jpeg); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; BACKGROUND-POSITION: left top; HEIGHT: 60px; FONT-SIZE: 12pt; VERTICAL-ALIGN: middle; CURSOR: hand; PADDING-TOP: 0px
}
.header_menu_active_over .header_menu .header_menu_link {
	FONT-FAMILY: Arial Narrow, Arial, verdana,  Helvetica Neue, Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.header_menu_active_over .header_menu .header_menu_link:hover {
	FONT-FAMILY: Arial Narrow, Arial, verdana,  Helvetica Neue, Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.header_menu_active_over .submenu_block {
	POSITION: absolute; TEXT-ALIGN: left; WIDTH: 650px; DISPLAY: block; LEFT: 425px
}
.header_menu_active_over .submenu_block .submenu {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #343023; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.header_menu_active_over .submenu_block .submenu .submenu_link {
	FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #cccccc; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.header_menu_active_over .submenu_block .submenu_over {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #343023; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.header_menu_active_over .submenu_block .submenu_over .submenu_link {
	FONT-FAMILY: verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #bb0022; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.submenu_bar {
	TEXT-ALIGN: center; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 25px
}
.submenu_block {
	PADDING-TOP: 0px
}
.submenu_block .submenu {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #3f3f3f; WIDTH: auto; HEIGHT: 25px
}
.submenu_block .submenu .submenu_link {
	FONT-FAMILY: Arial Narrow, verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.submenu_block .submenu_over {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #c00a30; WIDTH: auto; HEIGHT: 25px; CURSOR: hand
}
.submenu_block .submenu_over .submenu_link {
	FONT-FAMILY: Arial Narrow, verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.submenu_block .submenu_active {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #aa0000; WIDTH: auto; HEIGHT: 25px; CURSOR: hand
}
.submenu_block .submenu_active .submenu_link {
	FONT-FAMILY: Arial Narrow, verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.submenu_block .submenu_active_over {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #aa0000; WIDTH: auto; HEIGHT: 25px; CURSOR: hand
}
.submenu_block .submenu_active_over .submenu_link {
	FONT-FAMILY: Arial Narrow, verdana,  Helvetica Neue, Arial Narrow, Arial, Verdana, sans-serif, Helvetica; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.submenu_separator {
	WIDTH: 1px
}
